#root {
  margin: 0 auto;
}

.containerApp {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #144928;
}

.h1 {
  grid-column: 1;
  grid-row: 1;
  font-size: 2rem;
  text-align: center;
  color: #ffffff;
}

p {
  font-size: 1.5rem;
  text-align: center;
  color: #ffffff;
}

.btn {
  position: fixed !important;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
}

@media screen and (min-width: 700px) {
  .h1 {
    font-size: 3.5rem;
  }
}
